
.idea/100 Days of Code.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Daily Projects/__pycache__/hangman_art.cpython-39.pyc
Daily Projects/__pycache__/hangman_words.cpython-39.pyc
Daily Projects/Reeborg World Tests/.DS_Store
Daily Projects/Reeborg World Tests/problem_world.json
Daily Projects/Reeborg World Tests/problem_world2.json
Daily Projects/Reeborg World Tests/problem_world3.json
Daily Projects/Reeborg World Tests/Reeborg+World+Tests.zip
Daily Projects/Day 18 - Hirst Painting/scoped_dir25720_1703481946/PowerToysSetup-0.55.1-x64.exe
Daily Projects/Day 18 - Hirst Painting/PowerToysSetup-0.55.1-x64.exe
